   [Unit]
   Description=cPanel Mail Exporter
   After=network.target

   [Service]
   ExecStart=/path/to/cpanel_mail_exporter --apikey="your-api-key" --listen="localhost:9197" --endpoint="your-whm-endpoint:2087"
   Restart=always

   [Install]
   WantedBy=multi-user.target